# Exercise 1

1. Create 5 list comprehensions to solve the following 5 problems:
    1. Iterate a list of names to return a list of the names starting with H

In [12]:
names = ["Johnny", "Obama", "George", "Kalinka", "Henry"]

namesWithH  = [value for value in names if 'H' == value[0]]
namesWithH

['Henry']

    B. In one line create a list of the numbers 1-100 to the power of 3

In [14]:
numbers = [value ** 3 for value in range(0,101)]
numbers

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

    C. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [2]:
names = ["Johnny", "Obama", "George", "Kalinka", "Henry", "Lex", "Izalith"]
tuples = [(len(value), value) for value in names]
tuples

[(6, 'Johnny'),
 (5, 'Obama'),
 (6, 'George'),
 (7, 'Kalinka'),
 (5, 'Henry'),
 (3, 'Lex'),
 (7, 'Izalith')]

    D. Iterate over each character in a string and get only those that are nummeric

In [3]:
data = "lil34yung12with67da104gun3-50"
numbers = [value for value in data if value.isdigit()]
numbers

['3', '4', '1', '2', '6', '7', '1', '0', '4', '3', '5', '0']

    E. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice

In [16]:
dice1 = range(1,7)
dice2 = range(1,7)
#Not using set. I don't know how to do it using only one loop and a set
combinations = [(value1, value2) for value1 in dice1 for value2 in dice2]
combinations

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

2. Create 2 dictionary comprehensions to solve the following:
    1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [10]:
names = ["Johnny", "Obama", "George", "Kalinka", "Henry", "Lex", "Izalith"]

dictionary = {value:len(value) for value in names}

dictionary

{'Johnny': 6,
 'Obama': 5,
 'George': 6,
 'Kalinka': 7,
 'Henry': 5,
 'Lex': 3,
 'Izalith': 7}

    B. Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)

In [15]:
import math
numbers = range(100,0,-1)

dictionary = {value:(math.sqrt(value)) for value in numbers}

dictionary

{100: 10.0,
 99: 9.9498743710662,
 98: 9.899494936611665,
 97: 9.848857801796104,
 96: 9.797958971132712,
 95: 9.746794344808963,
 94: 9.695359714832659,
 93: 9.643650760992955,
 92: 9.591663046625438,
 91: 9.539392014169456,
 90: 9.486832980505138,
 89: 9.433981132056603,
 88: 9.38083151964686,
 87: 9.327379053088816,
 86: 9.273618495495704,
 85: 9.219544457292887,
 84: 9.16515138991168,
 83: 9.1104335791443,
 82: 9.055385138137417,
 81: 9.0,
 80: 8.94427190999916,
 79: 8.888194417315589,
 78: 8.831760866327848,
 77: 8.774964387392123,
 76: 8.717797887081348,
 75: 8.660254037844387,
 74: 8.602325267042627,
 73: 8.54400374531753,
 72: 8.48528137423857,
 71: 8.426149773176359,
 70: 8.366600265340756,
 69: 8.306623862918075,
 68: 8.246211251235321,
 67: 8.18535277187245,
 66: 8.12403840463596,
 65: 8.06225774829855,
 64: 8.0,
 63: 7.937253933193772,
 62: 7.874007874011811,
 61: 7.810249675906654,
 60: 7.745966692414834,
 59: 7.681145747868608,
 58: 7.615773105863909,
 57: 7.54983443527075,
 56: 7.483314773547883,
 55: 7.416198487095663,
 54: 7.3484692283495345,
 53: 7.280109889280518,
 52: 7.211102550927978,
 51: 7.14142842854285,
 50: 7.0710678118654755,
 49: 7.0,
 48: 6.928203230275509,
 47: 6.855654600401044,
 46: 6.782329983125268,
 45: 6.708203932499369,
 44: 6.6332495807108,
 43: 6.557438524302,
 42: 6.48074069840786,
 41: 6.4031242374328485,
 40: 6.324555320336759,
 39: 6.244997998398398,
 38: 6.164414002968976,
 37: 6.082762530298219,
 36: 6.0,
 35: 5.916079783099616,
 34: 5.830951894845301,
 33: 5.744562646538029,
 32: 5.656854249492381,
 31: 5.5677643628300215,
 30: 5.477225575051661,
 29: 5.385164807134504,
 28: 5.291502622129181,
 27: 5.196152422706632,
 26: 5.0990195135927845,
 25: 5.0,
 24: 4.898979485566356,
 23: 4.795831523312719,
 22: 4.69041575982343,
 21: 4.58257569495584,
 20: 4.47213595499958,
 19: 4.358898943540674,
 18: 4.242640687119285,
 17: 4.123105625617661,
 16: 4.0,
 15: 3.872983346207417,
 14: 3.7416573867739413,
 13: 3.605551275463989,
 12: 3.4641016151377544,
 11: 3.3166247903554,
 10: 3.1622776601683795,
 9: 3.0,
 8: 2.8284271247461903,
 7: 2.6457513110645907,
 6: 2.449489742783178,
 5: 2.23606797749979,
 4: 2.0,
 3: 1.7320508075688772,
 2: 1.4142135623730951,
 1: 1.0}

3. Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

In [21]:
dice1 = range(1,7)
dice2 = range(1,7)

results = [value1 + value2 for value1 in dice1 for value2 in dice2]
resultset = set([value1 + value2 for value1 in dice1 for value2 in dice2])

resultdict = {value:(results.count(value)/len(results)*100) for value in resultset}

resultdict

{2: 2.7777777777777777,
 3: 5.555555555555555,
 4: 8.333333333333332,
 5: 11.11111111111111,
 6: 13.88888888888889,
 7: 16.666666666666664,
 8: 13.88888888888889,
 9: 11.11111111111111,
 10: 8.333333333333332,
 11: 5.555555555555555,
 12: 2.7777777777777777}